
body{
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.App {
  display: flex;
  align-items: center;
  color: var(--color);
  width: 1120px;
  height: 1562px;
  flex-direction: column;
}

